* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
html,
body {
  font-weight: normal;
  overflow-x: hidden; /*убирает скачёк при выключении модалки*/
  width: 100%;
  height: 100%;

}

img {
  width: 100%;
  height: 100%;
  object-fit: contain; /*не меняло пропорции и сохраняло соотношение сторон */
  flex-shrink: 0; /*избежать икажения изоьражения*/
}
a {
  text-decoration: none; /*убрать подчёркивание*/
  color: inherit; /* брал родительские значения */
}
button,
input {
  outline: none; /*убираем рамку*/
  border: none;
  cursor: pointer;
}

.list-reset {
  list-style-type: none;
}
.btn-reset {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.site {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}
.main_header {
  width: 1280px;
  height: 908px;
  background: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%)
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    linear-gradient(0deg, #211f20, #211f20);
}
.header {
  margin: 0 auto;
  width: 100%;

}
.header_wrapp {
  width: 1200px;
  padding-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 60px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_list {
  width: 443px;
  height: 27px;
}

.header_list_ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_link {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #fafafa;
}

.header_item:hover {
  border-bottom: 2px solid #f1cdb3;
}
.border {
  border-bottom: 2px solid #f1cdb3;
}
.logo_title {
  display: block;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: #f1cdb3;
}

.header_descripton_logo {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  padding-left: 4px;
}

.main_not_only_wrapper {
  width: 1280px;
  height: 728px;
}
.not_only {
  margin: 0 auto;
  width: 1200px;
  height: 728px;
  display: flex;
  justify-content: space-between;
}
.main_not_only {
  width: 502px;

}

.main_foto_only {
  width: 698px;
  height: 728px;
}
.not_only_content_great {
  width: 310px;
  height: 114px;
  margin-top: 188px;
  margin-bottom: 42px;
}
.not_only_title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #ffffff;
}
.not_only_description {
  margin-bottom: 42px;
}
.not_only_title_descriptoin {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
}
.not_only_button {
  width: 207px;
  height: 52px;
  background: rgba(241, 205, 179, 1);
  border-radius: 100px;
}

.not_only_button_text {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  color: #292929;
}

.not_only_button:hover {
  background-color: #fff;
  border: 2px solid #f1cdb3;
  box-sizing: border-box;
}

.main_wrapper_about {
  width: 1280px;
  height: 588px;
  background: #ffffff;
}

.about {
  padding-top: 80px;
  margin: 0 auto;
  width: 1200px;
  height: 588px;
  display: flex;
}
.about_img {
  width: 300px;
  height: 408px;
  margin-left: 175px;
  margin-right: 120px;
}
.about_text {
  width: 430px;
  height: 380px;
}
.about_title {
  width: 370px;
  height: 90px;
  margin-bottom: 25px;
}
.about_title_text {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  color: #545454;

}
.about_description1 {
  margin-bottom: 25px;
  width: 430px;
  height: 96px;
}

.about_description1_text {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
}
.about_description2 {
  width: 430px;
  height: 144px;
}

.about_description2_text {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
}
.main_wrapper_our_friends {
  width: 1280px;
  height: 877px;
  background: #f6f6f6;
}
.our_friends {
  margin: 0 auto;
  width: 1200px;
  height: 877px;
}
.our_friends_title {
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  width: 400px;
  height: 170px;
  margin-left: 400px;
  padding-top: 80px;
  margin-bottom: 60px;
}
.our_friends_title_text {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
.our_friend_slider {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 435px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 435px;
  background-color: #fafafa;
  border-radius: 9px;
}
.card:hover {
  background-color: rgb(123, 90, 67);
  cursor: pointer;
}
.our_friends_img {
  width: 270px;
  height: 270px;
  margin-bottom: 30px;
}
.name {
  font-family: "Georgia";
  font-style: normal;
  margin-bottom: 37px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #545454;
}
.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  border-radius: 100px;
}
.arrow:hover {
  background-color: rgba(241, 205, 179, 1);
}
.arrow_left_right {
  width: 16px;
  height: 6px;
}

.our_pets_slider_button {
  font-family: "Georgia";
  font-style: normal;
  width: 187px;
  height: 52px;
  border: 2px solid rgba(241, 205, 179, 1);
  border-radius: 100px;
  background-color: transparent;
}
.our_pets_slider_button:hover {
  background-color: rgba(241, 205, 179, 1);
  border: 2px solid #ffffff;
}
.our_pets_cad_text {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  color: #292929;
}
.our_pets_content_button {
  font-family: "Georgia";
  font-style: normal;
  margin-left: 470px;
  width: 261px;
  height: 52px;
  left: 470px;
  top: 645px;
  background: #f1cdb3;
  border-radius: 100px;
}
.our_pets_content_button:hover {
  background: #fafafa;
  border: 2px solid #f1cdb3;
}
.main_wrapper_help {
  width: 1280px;
  height: 610px;
  background: #ffffff;
}
.help {
  padding-top: 80px;
  margin: 0 auto;
  width: 1200px;
  height: 588px;
}
.help_title {
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  width: 308px;
  height: 90px;
  margin-left: 446px;
  margin-bottom: 60px;
}
.help_title_text {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
}
.help_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1026px;
  height: 281px;
}
.help_img {
  width: 60px;
  height: 60px;
  margin-bottom: 30px;
}
.help_list {
  margin-right: 120px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 55px;
  column-gap: 120px;
}
.help_item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.texhelp_text_item {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.main_wrapper_donation {
  width: 1280px;
  height: 462px;
  background: #f6f6f6;
}

.in_addition {
  margin: 0 auto;
  padding-top: 80px;
  width: 1200px;
  height: 462px;
  display: flex;
}

.donation_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 143px;
  width: 915px;
  height: 282px;
}
.img_credit_card {
  width: 30px;
  height: 23px;
}
.credit_text {
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;

  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}
.donation_content {
  width: 300px;
  height: 282px;
}
.donation_img {
  width: 505px;
  height: 261px;
}
.donation_title {
  width: 300px;
  height: 90px;
  margin-bottom: 20px;
}
.donation_title_text {
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  color: #545454;
}
.donation_subtitle {
  padding-bottom: 20px;
}
.donation_subtitle_text {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  color: #545454;
}
.donation_credit_card {
  width: 300px;
  height: 43px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #f1cdb3;
  border-radius: 9px;
  margin-bottom: 30px;
}
.donation_legal_information {
  width: 380px;
  height: 72px;
}
.donation_legal_information_text {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
}

.main_wrapper_footer {
  width: 1280px;
  height: 350px;
  background: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%),
    linear-gradient(0deg, #211f20, #211f20);
}
.footer {
  padding-top: 40px;
  margin: 0 auto;
  width: 1200px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_contact {
  width: 278px;
  height: 234px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer_location {
  width: 300px;
  height: 234px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer_img_dog {
  width: 300px;
  height: 310px;
}
.footer_contact_title {
  width: 278px;
  height: 90px;
}
.footer_contact_title_text {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.footer_location_title {
  width: 270px;
  height: 90px;
}
.footer_location_title_text {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.mail {
  display: flex;
}
.text_mail {
  font-family: "Georgia";
  font-style: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}
.futer_img_icon_mail {
  margin-right: 20px;
  width: 40px;
  height: 26px;
}
.phone {
  display: flex;
}
.text_phone {
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}
.footer_london {
  display: flex;
}
.footer_Boson {
  display: flex;
}
.futer_img_icon_phone {
  margin-right: 20px;
  width: 40px;
  height: 32px;
}
.footer_icon_pin {
  margin-right: 20px;
  width: 22px;
  height: 32px;
}
.text_adderss {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}
